.plans {
	width: 100%;
	height: 100%;
	background-color: rgb(240, 240, 240);
	margin-top: 2rem;
}

.plans-tl {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.plans-tl h1 {
	color: rgb(33, 46, 238);
	margin-bottom: 0;
    
}

.plans-tl-btm {
	width: 10rem;
	height: 4px;
	background: rgb(80, 90, 233);
	background: linear-gradient(
		90deg,
		rgba(80, 90, 233, 1) 0%,
		rgba(39, 208, 192, 1) 38%,
		rgba(48, 6, 79, 1) 78%
	);
}

.trading-plans,
.mining-plans {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 2rem;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
	.trading-plans,
	.mining-plans {
		grid-template-columns: auto;
	}
}
@media screen and (min-width: 560px) and (max-width: 960px) {
	.trading-plans, .mining-plans {
		grid-template-columns: auto;
	}
}

.trading-plans-card,
.mining-plans-card {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}
.trading-plans-card-wrapper,
.mining-plans-card-wrapper {
	padding: 1rem;
}

.trading-plans-card-top-effect,
.mining-plans-card-top-effect {
	width: 100%;
	height: 10px;
	background-color: red;
}
.trading-plans-card:hover .trading-plans-card-top-effect {
	background-color: rgb(33, 46, 238);
	transition: all 0.5s ease-in-out;
}
.mining-plans-card:hover .mining-plans-card-top-effect {
	background-color: rgb(33, 46, 238);
	transition: all 0.5s ease-in-out;
}

.trading-plans-card-wrapper h3,
.mining-plans-card-wrapper h3 {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}

.percent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.percent-no {
	font-size: 3rem;
	font-weight: 700;
	color: rgb(33, 46, 238);
	margin-bottom: 1rem;
}

.trading-plan-time-frame,
.mining-plan-time-frame {
	text-align: center;
	text-transform: uppercase;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
}

.trading-plans-price-list,
.mining-plans-price-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}

.trading-plans-price-list-span,
.mining-plans-price-list-span {
	padding: 1rem;
	border: 1px solid rgb(33, 46, 238);
	margin-right: 1rem;
	border-radius: 40%;
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(33, 46, 238);
}

.trading-plans-price-list-right-span,
.mining-plans-price-list-right-span {
	padding: 1rem;
	border: 1px solid rgb(33, 46, 238);
	margin-left: 1rem;
	border-radius: 40%;
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(33, 46, 238);
}

.trading-plans-icon,
.mining-plans-icon {
	display: flex;
	align-items: center;
}

.trading-plans-icon-span,
.mining-plans-icon-span {
	margin-left: 1rem;
}

.trading-plans-icon .MuiSvgIcon-root {
	color: #037fff;
}

.mining-plans-icon .MuiSvgIcon-root {
	color: #037fff;
}

.btn-start {
	background-color: rgb(33, 46, 238);
	border-color: rgb(33, 46, 238);
	/* line-height: 1.5715; */
	/* position: relative; */
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	display: inline-block;
	font-weight: 600;
	margin: 2rem 0;
	text-align: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	/* height: 32px; */
	width: 90%;
	color: white;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
}
